/* your custom css */

body {
  font-family: $textFont;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headerFont;
  font-weight: 400;
}

.homeSplashFade .projectTitle {
  color: #24292e;
}

figure {
  margin: 2em auto;
  width: 80%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  padding: 0.5em;
}

figure img {
  width: 100%;
}

/* Match coloring of code preview blocks */
table th {
  background-color: #f3f3f3;
  line-height: 1.4;
  font-family: $textFontBold;
}


@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

