# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: "CI Build"

on:
  push:
    branches: [master, develop]
  pull_request:
    branches: [master, develop]
  merge_group:
    types: [checks_requested]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22.x]
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@3235b876344d2a9aa001b8d1453c930bba69e610 # v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
          cache-dependency-path: "**/yarn.lock"
      - name: docs - install
        run: yarn install --frozen-lockfile
      - name: docs - build
        run: yarn build && yarn lint # We first build and then lint because some files might reference generated OpenAPI markdown files
      - name: snippets - install
        run: yarn install --frozen-lockfile
        working-directory: snippets
      - name: snippets - test
        run: yarn lint && yarn test
        working-directory: snippets
