# This workflow merges releases (i.e. tags) to master
name: "Release"

permissions:
  pull-requests: write
  contents: write

on:
  workflow_dispatch:
  push:
    tags:
      - v**

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          ref: develop
          fetch-depth: 0
      - env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh pr create --fill --base master
          gh pr merge --merge develop
