name: 'Tag stale PRs'

permissions:
  issues: write
  pull-requests: write

on:
  schedule:
    - cron: '30 1 * * *'

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@1160a2240286f5da8ec72b1c0816ce2481aabf84 # v8
        with:
          days-before-stale: 7
          days-before-close: -1
          stale-pr-message: "This PR has seen no activity in the last 7 days and has been marked as stale."
